.accordion {
  width: 100%;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
}
.accordion:hover .accordion-item:hover .accordion-item-content {
  padding-right: 2em;
  height: 6em;
  overflow-y: auto;
  -webkit-animation: hide-scroll 0.25s;
          animation: hide-scroll 0.25s;
}
.accordion:hover .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}
@-webkit-keyframes hide-scroll {
  from, to {
    overflow: hidden;
  }
}
@keyframes hide-scroll {
  from, to {
    overflow: hidden;
  }
}
.accordion h1 {
  margin: 0;
  font-size: 14px;
}
.accordion .accordion-item {
  padding: 1em;
  color: white;
  font-size: 11px;
}
.accordion .accordion-item:nth-child(odd) {
  background: #00337f;
}
.accordion .accordion-item:nth-child(even) {
  background: #8b8b8b;
}
.accordion .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  padding-right: 1px;
}
.accordion .accordion-item-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #8b8b8b;
}
.accordion .accordion-item-content::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
.accordion .accordion-item-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #484848;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.header-img {
  width: 100%;
  margin: 0px;
  display: block;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  margin: 0px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 80px;
  background: linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(odd) {
  background: linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(odd):last-child {
  background: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(even) {
  background: linear-gradient(-90deg, #ffffff, #e3e3e3 20% 80%, #ffffff);
}
.section:nth-child(even):last-child {
  background: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(-90deg, #ffffff, #e3e3e3 20% 80%, #ffffff);
}

.triangle {
  margin: 0.15vw;
  width: 0vw;
  border-right: 1vw solid transparent;
  border-bottom: 3vw solid #001c50;
  cursor: pointer;
  position: relative;
}
.triangle .label {
  position: absolute;
  height: 2.7vw;
  top: 0.15vw;
  left: 0vw;
  background: linear-gradient(to left, #8b8b8b, transparent);
  width: 10vw;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 2vw;
  transition-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.triangle img {
  position: absolute;
  top: -0.7257295747vw;
  left: 10vw;
  height: 2.5298221281vw;
  width: 2.5298221281vw;
  background-color: #eeeeee;
  border-radius: 3.1622776602vw;
  border: 0.2108185107vw solid #eeeeee;
  image-rendering: crisp-edges;
  transition-duration: 0.2s;
}
.triangle .info {
  display: none;
  position: absolute;
  top: -5vw;
  left: 12.5vw;
  margin: 20px;
  padding: 10px;
  padding-left: 15vw;
  width: 700px;
  height: 700px;
}
.triangle .info h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.triangle:hover {
  font-size: 1.25em;
}
.triangle:hover .label {
  width: 12vw;
}
.triangle:hover img {
  transform: scale(2) translate(1.6770509831vw, -0.5590169944vw);
}
.triangle:hover .info {
  display: initial;
}

.triangle-2 {
  margin: 0.15vw;
  width: 1.1vw;
  border-right: 1vw solid transparent;
  border-bottom: 3vw solid #001c50;
  cursor: pointer;
  position: relative;
}
.triangle-2 .label {
  position: absolute;
  height: 2.7vw;
  top: 0.15vw;
  left: 1.1vw;
  background: linear-gradient(to left, #8b8b8b, transparent);
  width: 10vw;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 2vw;
  transition-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.triangle-2 img {
  position: absolute;
  top: -0.7257295747vw;
  left: 11.1vw;
  height: 2.5298221281vw;
  width: 2.5298221281vw;
  background-color: #eeeeee;
  border-radius: 3.1622776602vw;
  border: 0.2108185107vw solid #eeeeee;
  image-rendering: crisp-edges;
  transition-duration: 0.2s;
}
.triangle-2 .info {
  display: none;
  position: absolute;
  top: -8.3vw;
  left: 13.6vw;
  margin: 20px;
  padding: 10px;
  padding-left: 14.45vw;
  width: 700px;
  height: 700px;
}
.triangle-2 .info h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.triangle-2:hover {
  font-size: 1.25em;
}
.triangle-2:hover .label {
  width: 12vw;
}
.triangle-2:hover img {
  transform: scale(2) translate(1.6770509831vw, -0.5590169944vw);
}
.triangle-2:hover .info {
  display: initial;
}

.triangle-3 {
  margin: 0.15vw;
  width: 2.2vw;
  border-right: 1vw solid transparent;
  border-bottom: 3vw solid #001c50;
  cursor: pointer;
  position: relative;
}
.triangle-3 .label {
  position: absolute;
  height: 2.7vw;
  top: 0.15vw;
  left: 2.2vw;
  background: linear-gradient(to left, #8b8b8b, transparent);
  width: 10vw;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 2vw;
  transition-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.triangle-3 img {
  position: absolute;
  top: -0.7257295747vw;
  left: 12.2vw;
  height: 2.5298221281vw;
  width: 2.5298221281vw;
  background-color: #eeeeee;
  border-radius: 3.1622776602vw;
  border: 0.2108185107vw solid #eeeeee;
  image-rendering: crisp-edges;
  transition-duration: 0.2s;
}
.triangle-3 .info {
  display: none;
  position: absolute;
  top: -11.6vw;
  left: 14.7vw;
  margin: 20px;
  padding: 10px;
  padding-left: 13.9vw;
  width: 700px;
  height: 700px;
}
.triangle-3 .info h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.triangle-3:hover {
  font-size: 1.25em;
}
.triangle-3:hover .label {
  width: 12vw;
}
.triangle-3:hover img {
  transform: scale(2) translate(1.6770509831vw, -0.5590169944vw);
}
.triangle-3:hover .info {
  display: initial;
}

.triangle-4 {
  margin: 0.15vw;
  width: 3.3vw;
  border-right: 1vw solid transparent;
  border-bottom: 3vw solid #00337f;
  cursor: pointer;
  position: relative;
}
.triangle-4 .label {
  position: absolute;
  height: 2.7vw;
  top: 0.15vw;
  left: 3.3vw;
  background: linear-gradient(to left, #8b8b8b, transparent);
  width: 10vw;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 2vw;
  transition-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.triangle-4 img {
  position: absolute;
  top: -0.7257295747vw;
  left: 13.3vw;
  height: 2.5298221281vw;
  width: 2.5298221281vw;
  background-color: #eeeeee;
  border-radius: 3.1622776602vw;
  border: 0.2108185107vw solid #eeeeee;
  image-rendering: crisp-edges;
  transition-duration: 0.2s;
}
.triangle-4 .info {
  display: none;
  position: absolute;
  top: -14.9vw;
  left: 15.8vw;
  margin: 20px;
  padding: 10px;
  padding-left: 13.35vw;
  width: 700px;
  height: 700px;
}
.triangle-4 .info h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.triangle-4:hover {
  font-size: 1.25em;
}
.triangle-4:hover .label {
  width: 12vw;
}
.triangle-4:hover img {
  transform: scale(2) translate(1.6770509831vw, -0.5590169944vw);
}
.triangle-4:hover .info {
  display: initial;
}

.triangle-5 {
  margin: 0.15vw;
  width: 4.4vw;
  border-right: 1vw solid transparent;
  border-bottom: 3vw solid #00337f;
  cursor: pointer;
  position: relative;
}
.triangle-5 .label {
  position: absolute;
  height: 2.7vw;
  top: 0.15vw;
  left: 4.4vw;
  background: linear-gradient(to left, #8b8b8b, transparent);
  width: 10vw;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 2vw;
  transition-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.triangle-5 img {
  position: absolute;
  top: -0.7257295747vw;
  left: 14.4vw;
  height: 2.5298221281vw;
  width: 2.5298221281vw;
  background-color: #eeeeee;
  border-radius: 3.1622776602vw;
  border: 0.2108185107vw solid #eeeeee;
  image-rendering: crisp-edges;
  transition-duration: 0.2s;
}
.triangle-5 .info {
  display: none;
  position: absolute;
  top: -18.2vw;
  left: 16.9vw;
  margin: 20px;
  padding: 10px;
  padding-left: 12.8vw;
  width: 700px;
  height: 700px;
}
.triangle-5 .info h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.triangle-5:hover {
  font-size: 1.25em;
}
.triangle-5:hover .label {
  width: 12vw;
}
.triangle-5:hover img {
  transform: scale(2) translate(1.6770509831vw, -0.5590169944vw);
}
.triangle-5:hover .info {
  display: initial;
}

.triangle-6 {
  margin: 0.15vw;
  width: 5.5vw;
  border-right: 1vw solid transparent;
  border-bottom: 3vw solid #00337f;
  cursor: pointer;
  position: relative;
}
.triangle-6 .label {
  position: absolute;
  height: 2.7vw;
  top: 0.15vw;
  left: 5.5vw;
  background: linear-gradient(to left, #8b8b8b, transparent);
  width: 10vw;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 2vw;
  transition-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.triangle-6 img {
  position: absolute;
  top: -0.7257295747vw;
  left: 15.5vw;
  height: 2.5298221281vw;
  width: 2.5298221281vw;
  background-color: #eeeeee;
  border-radius: 3.1622776602vw;
  border: 0.2108185107vw solid #eeeeee;
  image-rendering: crisp-edges;
  transition-duration: 0.2s;
}
.triangle-6 .info {
  display: none;
  position: absolute;
  top: -21.5vw;
  left: 18vw;
  margin: 20px;
  padding: 10px;
  padding-left: 12.25vw;
  width: 700px;
  height: 700px;
}
.triangle-6 .info h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.triangle-6:hover {
  font-size: 1.25em;
}
.triangle-6:hover .label {
  width: 12vw;
}
.triangle-6:hover img {
  transform: scale(2) translate(1.6770509831vw, -0.5590169944vw);
}
.triangle-6:hover .info {
  display: initial;
}

.triangle-7 {
  margin: 0.15vw;
  width: 6.6vw;
  border-right: 1vw solid transparent;
  border-bottom: 3vw solid #004aad;
  cursor: pointer;
  position: relative;
}
.triangle-7 .label {
  position: absolute;
  height: 2.7vw;
  top: 0.15vw;
  left: 6.6vw;
  background: linear-gradient(to left, #8b8b8b, transparent);
  width: 10vw;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 2vw;
  transition-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.triangle-7 img {
  position: absolute;
  top: -0.7257295747vw;
  left: 16.6vw;
  height: 2.5298221281vw;
  width: 2.5298221281vw;
  background-color: #eeeeee;
  border-radius: 3.1622776602vw;
  border: 0.2108185107vw solid #eeeeee;
  image-rendering: crisp-edges;
  transition-duration: 0.2s;
}
.triangle-7 .info {
  display: none;
  position: absolute;
  top: -24.8vw;
  left: 19.1vw;
  margin: 20px;
  padding: 10px;
  padding-left: 11.7vw;
  width: 700px;
  height: 700px;
}
.triangle-7 .info h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.triangle-7:hover {
  font-size: 1.25em;
}
.triangle-7:hover .label {
  width: 12vw;
}
.triangle-7:hover img {
  transform: scale(2) translate(1.6770509831vw, -0.5590169944vw);
}
.triangle-7:hover .info {
  display: initial;
}

.triangle-8 {
  margin: 0.15vw;
  width: 7.7vw;
  border-right: 1vw solid transparent;
  border-bottom: 3vw solid #004aad;
  cursor: pointer;
  position: relative;
}
.triangle-8 .label {
  position: absolute;
  height: 2.7vw;
  top: 0.15vw;
  left: 7.7vw;
  background: linear-gradient(to left, #8b8b8b, transparent);
  width: 10vw;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 2vw;
  transition-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.triangle-8 img {
  position: absolute;
  top: -0.7257295747vw;
  left: 17.7vw;
  height: 2.5298221281vw;
  width: 2.5298221281vw;
  background-color: #eeeeee;
  border-radius: 3.1622776602vw;
  border: 0.2108185107vw solid #eeeeee;
  image-rendering: crisp-edges;
  transition-duration: 0.2s;
}
.triangle-8 .info {
  display: none;
  position: absolute;
  top: -28.1vw;
  left: 20.2vw;
  margin: 20px;
  padding: 10px;
  padding-left: 11.15vw;
  width: 700px;
  height: 700px;
}
.triangle-8 .info h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.triangle-8:hover {
  font-size: 1.25em;
}
.triangle-8:hover .label {
  width: 12vw;
}
.triangle-8:hover img {
  transform: scale(2) translate(1.6770509831vw, -0.5590169944vw);
}
.triangle-8:hover .info {
  display: initial;
}

.flex-container-column {
  align-items: flex-start;
}

.flex-container {
  background-color: #e3e3e3;
  margin: 100px;
  padding: 20px;
  padding-top: 5vw;
  border-radius: 20px;
  overflow: hidden;
}