// Base Colors
$light-blue: #004aad;
$main-blue: #00337f;
$dark-blue: #001c50;
$light-gray: #b6b6b6;
$main-gray: #8b8b8b;
$dark-gray: #484848;
$background-light: #eeeeee;
$background-dark: #e3e3e3;
$black: #000000;
$white: #ffffff;

// Group Colors
$eclipse: #7ed957;
$challenger: #5ce1e6;
$endeavour: #ff904b;
$discovery: #ffde59;
$exploration: #ff5757;
$launch: #ff66c4;
$ignition: #5271ff;
$spark: #cb6ce6;