@use "/color-palette" as *;
@forward "accordion";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.header-img {
  width: 100%;
  margin: 0px;
  display: block;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  margin: 0px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 80px;
  background: linear-gradient(
    -90deg,
    $white,
    $background-light 20% 80%,
    $white
  );

  &:nth-child(odd) {
    background: linear-gradient(
      -90deg,
      $white,
      $background-light 20% 80%,
      $white
    );

    &:last-child {
      background: linear-gradient(to bottom, transparent, $white),
        linear-gradient(-90deg, $white, $background-light 20% 80%, $white);
    }
  }

  &:nth-child(even) {
    background: linear-gradient(
      -90deg,
      $white,
      $background-dark 20% 80%,
      $white
    );

    &:last-child {
      background: linear-gradient(to bottom, transparent, $white),
        linear-gradient(-90deg, $white, $background-dark 20% 80%, $white);
    }
  }
}

@mixin overlay($background, $opacity) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: $opacity;
    background: $background;
    @content;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
