@import "color-palette";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.header-img {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

.section {
    margin: 0px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 80px;
    background: linear-gradient(-90deg, $white, $background-light 20% 80%, $white);

    &:nth-child(odd) {
        background: linear-gradient(-90deg, $white, $background-light 20% 80%, $white);

        &:last-child {
            background: linear-gradient(to bottom, transparent, $white), linear-gradient(-90deg, $white, $background-light 20% 80%, $white);
        }
    }

    &:nth-child(even) {
        background: linear-gradient(-90deg, $white, $background-dark 20% 80%, $white);

        &:last-child {
            background: linear-gradient(to bottom, transparent, $white), linear-gradient(-90deg, $white, $background-dark 20% 80%, $white);
        }
    }
}

.accordion {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;

    &:hover{
        .accordion-item:hover .accordion-item-content{
            height: 6em;
        }

        .accordion-item-content{
            height: 0;
            overflow: hidden;
            transition: height .25s;
            overflow-y: hidden;
            overscroll-behavior: contain;
            padding-right: 1px;
        }
    }

    h1 {
        margin: 0;
        font-size: 14px;
    }

    .accordion-item {
        padding: 1em;
        color: white;
        font-size: 11px;
    }

    .accordion-item:nth-child(odd) {
        background: $main-blue;
    }

    .accordion-item:nth-child(even) {
        background: $main-gray;
    }

    .accordion-item-content{
        height: 0;
        overflow: hidden;
        transition: height .25s;
        overscroll-behavior: contain;
        padding-right: 1px;

        &::-webkit-scrollbar-track{
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: $main-gray;
        }

        &::-webkit-scrollbar{
            width: 12px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: $dark-gray;
        }
    }
}