body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}
.header-img {
  width: 100%;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.section {
  margin: 0px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 80px;
  background: linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(odd) {
  background: linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(odd):last-child {
  background: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(even) {
  background: linear-gradient(-90deg, #ffffff, #e3e3e3 20% 80%, #ffffff);
}
.section:nth-child(even):last-child {
  background: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(-90deg, #ffffff, #e3e3e3 20% 80%, #ffffff);
}
.accordion {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
}
.accordion:hover .accordion-item:hover .accordion-item-content {
  height: 6em;
}
.accordion:hover .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
  overflow-y: hidden;
  overscroll-behavior: contain;
  padding-right: 1px;
}
.accordion h1 {
  margin: 0;
  font-size: 14px;
}
.accordion .accordion-item {
  padding: 1em;
  color: white;
  font-size: 11px;
}
.accordion .accordion-item:nth-child(odd) {
  background: #00337f;
}
.accordion .accordion-item:nth-child(even) {
  background: #8b8b8b;
}
.accordion .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
  overscroll-behavior: contain;
  padding-right: 1px;
}
.accordion .accordion-item-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #8b8b8b;
}
.accordion .accordion-item-content::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
.accordion .accordion-item-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #484848;
}
