{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'swimmers/style.css' %}">

<h1>Swimmers</h1>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthday</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
    {% for swimmer in object_list %}
        <tr>
            <td>{{swimmer.first_name}}</td>
            <td>{{swimmer.last_name}}</td>
            <td>{{swimmer.birthday|date:"m/d/y"}}</td>
            <td>{{swimmer.age}}</td>
            <td>{{swimmer.sex}}</td>
        </tr>
    {% empty %}
        <li>No swimmers yet.</li>
    {% endfor %}
    </tbody>
</table>