.accordion {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
}
.accordion:hover .accordion-item:hover .accordion-item-content {
  height: 6em;
  overflow-y: auto;
  -webkit-animation: hide-scroll 0.11s;
          animation: hide-scroll 0.11s;
}
.accordion:hover .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height 0.25s ease;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  padding-right: 1px;
}
@-webkit-keyframes hide-scroll {
  from, to {
    overflow: hidden;
  }
}
@keyframes hide-scroll {
  from, to {
    overflow: hidden;
  }
}
.accordion h1 {
  margin: 0;
  font-size: 14px;
}
.accordion .accordion-item {
  padding: 1em;
  color: white;
  font-size: 11px;
}
.accordion .accordion-item:nth-child(odd) {
  background: #00337f;
}
.accordion .accordion-item:nth-child(even) {
  background: #8b8b8b;
}
.accordion .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  padding-right: 1px;
}
.accordion .accordion-item-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #8b8b8b;
}
.accordion .accordion-item-content::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
.accordion .accordion-item-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #484848;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.header-img {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
}

.section {
  margin: 0px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 80px;
  background: linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(odd) {
  background: linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(odd):last-child {
  background: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(even) {
  background: linear-gradient(-90deg, #ffffff, #e3e3e3 20% 80%, #ffffff);
}
.section:nth-child(even):last-child {
  background: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(-90deg, #ffffff, #e3e3e3 20% 80%, #ffffff);
}

.coach-card {
  background-color: #484848;
  box-shadow: 0px 4px 8px #000000;
  float: left;
  margin: 10px;
  margin-right: 20px;
  padding: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 180px;
  height: 270px;
  cursor: pointer;
}
.coach-card:active {
  background-color: #272727;
}
.coach-card img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -20px;
     object-position: 0 -20px;
  width: 100%;
  height: 100%;
}
.coach-card h1 {
  font-size: 20px;
  margin: 0px;
}
.coach-card h2 {
  font-size: 16px;
  margin: 0px;
}
.coach-card .img-gradient-container {
  position: relative;
  width: 180px;
  height: 216px;
}
.coach-card .img-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  display: inline-block;
  height: 100%;
  left: 0;
  opacity: 0%;
  position: absolute;
  top: 0;
  transition: opacity 0.25s;
  width: 100%;
}
.coach-card .img-gradient:hover {
  opacity: 100%;
}
.coach-card .img-gradient:hover + .img-text {
  opacity: 100%;
  transform: translate(0px, -10px);
  transition-duration: 0.2s;
}
.coach-card .img-text {
  bottom: -8px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  opacity: 0%;
  padding: 5px;
  position: absolute;
}

.background {
  background-image: linear-gradient(gray, transparent);
  border-radius: 5px;
  margin: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #004aad;
}
a:hover {
  color: #00337f;
}
a:active {
  color: #b6b6b6;
}
a:visited {
  color: #484848;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: right;
}

h3 {
  color: #ff66c4;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

h4 {
  font-size: 20px;
  margin: 5px;
}

.header {
  width: 100%;
  box-shadow: 0px 0px 50px gray;
  padding: 12px;
  margin: 10px;
}
.header p {
  margin-right: 10px;
  font-size: 16px;
}

.group-header-img {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.quote-section {
  font-size: 18px;
  width: 380px;
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 40px;
  float: right;
}
.quote-section .quote {
  font-style: italic;
}
.quote-section .quotee {
  font-style: italic;
  font-weight: bold;
  text-align: right;
}
.quote-section ul {
  font-size: 12px;
  font-style: italic;
  text-align: right;
  direction: rtl;
}

.card {
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
  width: 28%;
  min-width: 270px;
  height: 460px;
  position: relative;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  cursor: default;
}

.card-dark {
  background-color: #484848;
  color: white;
}

.card-light {
  background-color: #8b8b8b;
}

ul {
  text-align: left;
}

.emphasize {
  font-family: Compacta, sans-serif;
  font-size: 18px;
  font-weight: 550;
}

.store-button {
  align-items: center;
  background-color: #00337f;
  border-color: #00337f;
  border-radius: 4px;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 8px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.store-button:hover {
  background-color: #004aad;
}
.store-button img {
  width: 70px;
  margin-top: -16px;
  margin-bottom: -16px;
}

.coach-bio-link-content {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.calendar-icon {
  margin: 10px;
}
.calendar-icon:hover {
  transform: scale(1.05);
}

.calendars {
  border-radius: 2px;
  padding: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.accordion:hover .accordion-item:hover .accordion-item-content {
  height: 10em;
}
.accordion h1 {
  font-size: 22px;
}
.accordion .accordion-item {
  font-size: 14px;
}

@media screen and (max-width: 1050px) {
  .group-header-img {
    width: 100%;
  }

  .coach-card {
    margin: 8px;
    margin-left: 0px;
    margin-right: 20px;
    width: 160px;
    height: 240px;
  }
  .coach-card .img-gradient-container {
    width: 160px;
    height: 192px;
  }
  .coach-card h1 {
    font-size: 16px;
    margin: 0px;
    margin-top: 2px;
  }
  .coach-card h2 {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .header {
    padding: 15px;
    margin: 0px;
    width: 310px;
  }

  .group-header-img {
    margin: 0px;
    margin-bottom: 6px;
  }

  .coach-card {
    margin: 5px 15px 5px 0px;
  }

  .group-description {
    padding-left: 8px;
    padding-right: 8px;
  }

  .quote-section {
    display: none;
  }
}