.accordion {
  width: 100%;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
}
.accordion:hover .accordion-item:hover .accordion-item-content {
  padding-right: 2em;
  height: 6em;
  overflow-y: auto;
  -webkit-animation: hide-scroll 0.25s;
          animation: hide-scroll 0.25s;
}
.accordion:hover .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}
@-webkit-keyframes hide-scroll {
  from, to {
    overflow: hidden;
  }
}
@keyframes hide-scroll {
  from, to {
    overflow: hidden;
  }
}
.accordion h1 {
  margin: 0;
  font-size: 14px;
}
.accordion .accordion-item {
  padding: 1em;
  color: white;
  font-size: 11px;
}
.accordion .accordion-item:nth-child(odd) {
  background: #00337f;
}
.accordion .accordion-item:nth-child(even) {
  background: #8b8b8b;
}
.accordion .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  padding-right: 1px;
}
.accordion .accordion-item-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #8b8b8b;
}
.accordion .accordion-item-content::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
.accordion .accordion-item-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #484848;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.header-img {
  width: 100%;
  margin: 0px;
  display: block;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  margin: 0px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 80px;
  background: linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(odd) {
  background: linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(odd):last-child {
  background: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}
.section:nth-child(even) {
  background: linear-gradient(-90deg, #ffffff, #e3e3e3 20% 80%, #ffffff);
}
.section:nth-child(even):last-child {
  background: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(-90deg, #ffffff, #e3e3e3 20% 80%, #ffffff);
}

.group-button {
  display: block;
  width: 600px;
  cursor: pointer;
  margin: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
.group-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 70%;
  background: black;
  transition: opacity 0.1s;
}
.group-button img {
  display: block;
  width: 100%;
  height: 100%;
}
.group-button span {
  font-size: 2em;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 20%;
  left: 8%;
}
.group-button:hover {
  transform: scale(1.01);
}
.group-button:hover::before {
  opacity: 0%;
}
.group-button:hover span {
  opacity: 0%;
}