body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.header-img {
  width: 100%;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
}

.section {
  margin: 0px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 80px;
  background: -webkit-gradient(linear, right top, left top, from(#ffffff), color-stop(20%, #eeeeee), to(#ffffff));
  background: linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}

.section:nth-child(odd) {
  background: -webkit-gradient(linear, right top, left top, from(#ffffff), color-stop(20%, #eeeeee), to(#ffffff));
  background: linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}

.section:nth-child(odd):last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ffffff)), -webkit-gradient(linear, right top, left top, from(#ffffff), color-stop(20%, #eeeeee), to(#ffffff));
  background: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(-90deg, #ffffff, #eeeeee 20% 80%, #ffffff);
}

.section:nth-child(even) {
  background: -webkit-gradient(linear, right top, left top, from(#ffffff), color-stop(20%, #e3e3e3), to(#ffffff));
  background: linear-gradient(-90deg, #ffffff, #e3e3e3 20% 80%, #ffffff);
}

.section:nth-child(even):last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ffffff)), -webkit-gradient(linear, right top, left top, from(#ffffff), color-stop(20%, #e3e3e3), to(#ffffff));
  background: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(-90deg, #ffffff, #e3e3e3 20% 80%, #ffffff);
}

.accordion {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
}

.accordion:hover .accordion-item:hover .accordion-item-content {
  height: 6em;
}

.accordion:hover .accordion-item-content {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .25s;
  transition: height .25s;
  overflow-y: hidden;
  overscroll-behavior: contain;
  padding-right: 1px;
}

.accordion h1 {
  margin: 0;
  font-size: 14px;
}

.accordion .accordion-item {
  padding: 1em;
  color: white;
  font-size: 11px;
}

.accordion .accordion-item:nth-child(odd) {
  background: #00337f;
}

.accordion .accordion-item:nth-child(even) {
  background: #8b8b8b;
}

.accordion .accordion-item-content {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .25s;
  transition: height .25s;
  overscroll-behavior: contain;
  padding-right: 1px;
}

.accordion .accordion-item-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #8b8b8b;
}

.accordion .accordion-item-content::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.accordion .accordion-item-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #484848;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#eeeeee), to(white));
  background: linear-gradient(to right, white, #eeeeee, white);
}

a {
  text-decoration: none;
}

.calendar-button {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-image: -webkit-gradient(linear, right top, left top, from(#00337f), color-stop(80%, #004aad), to(#00337f));
  background-image: linear-gradient(-90deg, #00337f, #004aad 80%, #00337f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}

.senior {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.senior a {
  width: 100%;
}

.senior .calendar-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-image: -webkit-gradient(linear, right top, left top, from(#001c50), color-stop(80%, #00337f), to(#001c50));
  background-image: linear-gradient(-90deg, #001c50, #00337f 80%, #001c50);
}

.senior .calendar-button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#00337f), color-stop(80%, #004aad), to(#00337f));
  background-image: linear-gradient(-90deg, #00337f, #004aad 80%, #00337f);
}

.calendar-sub-button {
  border-radius: 8px;
  background-color: #8b8b8b;
  display: inline-block;
  margin: 2px;
  width: 60px;
  height: 60px;
}

.calendar-sub-button > img {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.calendar-sub-button:hover {
  background-color: white;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.group-logo-name img {
  vertical-align: middle;
  margin: 10px;
}

.columns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  width: 50%;
}

.group-icon {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 12px white;
          box-shadow: 0px 0px 12px white;
}

@media (max-width: 1000px) {
  .calendar-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .group-logo-name {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .senior .group-logo-name {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 750px) {
  .group-logo-name {
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  .columns-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column {
    width: 100%;
  }
}
