@use "/default";
@use "/color-palette" as *;

.picture-button {
  width: 500px;
  height: 200px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 4px 4px 8px $black;
  margin: 10px;
  cursor: pointer;
  display: block;
  @include default.overlay(
    linear-gradient(to bottom, $black, transparent),
    70%
  ) {
    transition: opacity 0.1s;
  }

  &:hover {
    box-shadow: 4px 4px 16px $black;
    transform: scale(1.005);

    &::before {
      opacity: 25%;
    }
  }

  &:active {
    box-shadow: 2px 2px 4px $black;
    transform: scale(0.995);
  }

  img {
    object-fit: cover;
  }

  span {
    top: 0.75em;
    left: 1em;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 48px;
    text-shadow: 1px 1px 3px $dark-gray;
    position: absolute;
  }
}
