@import "/default";

h2 {
  color: $dark-blue;
  font-family: Georgia, serif;
}
h3 {
  color: $dark-blue;
  font-family: Georgia, serif;
}
.register-button {
  background-color: $light-blue;
  border: 2px solid $light-blue;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  font-family: georgia, serif;
  font-weight: bold;
  padding: 6px;
  font-size: 16px;
  margin: 5px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  width: 250px;
  cursor: default;
}
.register-button.enabled:hover {
  background-color: $white;
  color: $black;
  cursor: pointer;
}
.contact-button {
  background-color: $main-gray;
  border: 2px solid $main-gray;
  border-radius: 6px;
  color: $black;
  display: flex;
  align-items: center;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  padding: 6px;
  font-size: 16px;
  margin: 5px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  width: 300px;
}
.contact-button:hover {
  background-color: $white;
  color: $black;
  cursor: pointer;
}
hr {
  clear: both;
}
